<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="icon" href="public/images/record.jpg" />
  
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>


<%= yield %>

</body>
</html>