body {
    background-color: #FFFAFA;
    background-size: 100%;
}

h1  {
  text-align: center;
  color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top: : 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

li a {
    display: block;
    padding: 8px;
    background-color: #DCDCDC;
}

li a:hover {
    background-color: #555;
    color: white;
}

.nav-bar {
  width: 33em;
  margin: 0 auto;
}

.link {
  text-align: center;
  font-size: 1.5em;
}

th {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

td {
 padding-right: 0.5em;
 padding-left: 0.5em; 
}

