set up create new artist then come back to this.


<!-- <h1>New Stock Order</h1>

<a href="/stock">Stock List</a>

<form>
  
  Band Name:
    <br><input type="text" name="band_name"></br>
  Label:
    <br><input type="text" name="label"></br>
  Album Name:
    <br><input type="text" name="album_name"></br>
  Genre:
    <br><input type="text" name="genre"></br>
  Wholesale Price:
    <br><input type="text" name="wholesale_price"></br>
  Retail Price:
    <br><input type="text" name="retail_price"></br>
  Amount:
    <br><input type="text" name="amount"></br>

</form> -->