<h1>Create New Album</h1>
<div class="link">
<a href="/stock">Cancel</a>
</div>
<br></br>

<div class="centre-form">
<form method="post" action="/albums">

<select name="artist_id">
<% for artist in @artists %> 
  <option value="<%= artist.id %>"> <%= artist.name %> </option>
  <% end %>
</select>

<br></br>
Album Name:
  <br><input type="text" name="name"></br>
Genre:
  <br><input type="text" name="genre"></br>
Wholesale Price:
  <br><input type="text" name="wholesale_price"></br>
Retail Price:
  <br><input type="text" name="retail_price"></br>
Stock Amount:
  <br><input type="text" name="stock_amount"></br>
Cover Art URL:
  <br><input type="text" name="cover_art"></br>


<input type="submit">

</form>
</div>