<h1>Artists</h1>

<a href="/stock">Back to Stock</a>

<table>
  <tr>
    <th>Artist</th>
    <th></th>
    <th>Label</th>
    <th></th>
    <th> </th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.name %></td>
    <td>|</td>
    <td><%= artist.label %></td>
    <td>|</td>   
    <td><a href="/artists/<%= artist.id %>/delete"> Delete Artist? </a></td>
  </tr>
  <% end %>
  </table>