<h1>Artists</h1>

<div class="link">
<a href="/stock">Back to Stock</a>
</div>

<table>
  <tr>
    <th>Artist</th>
    <th>Label</th>
    <th>Delete Artist?</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.label %></td>
    
<!-- code I'm happy with -->
    <% if artist.albums.count > 0 %>
      <td>delete albums first</td>
    <% else %>
      <td><a href="/artists/<%= artist.id %>/delete"> Yes </a></td>
    <% end %>

  </tr>
  <% end %>
  </table>