<h1>New Artist</h1>

<a href="/stock">Cancel</a>

<form method="post" action="/artists/new">

Band Name:
  <br><input type="text" name="name"></br>
Label:
  <br><input type="text" name="label"></br>
  
  <input type="submit">

</form>