<h1>Create New Artist</h1>
<div class="link">
  <a href="/stock">Cancel</a>
</div>

<br></br>

<div class="centre-form">
<form method="post" action="/artists/new">

Band Name:
  <br><input type="text" name="name"></br>
Label:
  <br><input type="text" name="label"></br>
  
  <input type="submit">

</form>
</div>